 td{text-align: centre;
  border-bottom:1px solid #6f6b6b;
            padding:10px;
        }
th{
     
            background-color:#000000;
            color:white;
              text-align: centre;
            padding:15px 30px 15px;
            font-weight:bold;
        }
tbody tr{ text-align: centre;
          margin: auto;
       
        background: #fff ;
    }
table{
        
        width: 950px; 
        margin: auto; 
        
        border:1px solid #6f6b6b;
        text-align: centre;
        }

